<div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                
                {{#each posts as |post|}}
                <!-- Post preview-->
                <div class="post-preview">
                    <a onclick=getPostData(event) data-toggle="modal" id="{{post.id}}" data-target="#edit-post">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.content}}</h3>
                    </a>
                    {{!-- <p class="post-meta">
                        Posted by <a href="#!">{{post.user/name}}</a> on {{post.date_created}}
                    </p> --}}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {{/each}}
            </div>
        </div>
    </div>

{{!-- EDIT POST MODAL --}}
<div class="modal fade" id="edit-post" tabindex="-1" role="dialog" aria-labelledby="editPost" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-post-title">Edit post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center edit-post-form">
            <div class="mb-3">
                <input class="form-control d-none" type="post_id" id="current-post-id" name="post_id" placeholder="Post ID">
            </div>
             <div class="mb-3 ">
                <input class="form-control" type="post-title" id="current-post-title" placeholder="Post title" name="title">
            </div>
            <div class="mb-3">
                <textarea class="form-control" type="text" id="current-post-textarea" placeholder="Post content"name="content"></textarea>
            </div>
            <div class="pt-3 mb-3">
                <button class="btn btn-secondary" type="submit">Update</button>
                <button class="btn btn-danger" onclick=deletePostHandler(event) type="delete">Delete post</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/edit-post.js"></script>